/* src/App.css */
body {
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 15px;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .content {
    margin-left: 0;
  }
}
